* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: clamp(0rem, 0rem + 1.05vw, 1rem);
}
body {
  font-size: 1.6rem;
  line-height: 0.6;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
:root {
  --bg-main: silver;
  --bg-secondary: rgba(0, 0, 0, 0.4);
  --bg-body: ivory;
  --bg-smile: ivory;
  --button-level-clr: rgba(128, 128, 128, 0.521);
  --button-level-bg: #fafafa;
  --button-level-hover: rgba(128, 128, 128, 1);
}
body {
}
body.dark {
  --bg-main: grey;
  --bg-body: #111111;
  --bg-smile: silver;
  --button-level-clr: --bg-body;
  --button-level-bg: rgba(128, 128, 128, 0.521);
  --button-level-hover: ivory;
}
.main {
  background-color: var(--bg-body);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.game {
  display: grid;
  grid-column: 2;
}
.game__dashboard,
.game__area {
  padding: 0.5rem;
  border: 10px solid var(--bg-main);
  background-color: var(--bg-secondary);
}
.game__dashboard {
  padding: 1rem;
  display: grid;
  grid-template-columns: 30% 30% 15% 15%;
  justify-content: space-between;
}
.game__dashboard__flags,
.game__dashboard__timer,
.game__dashboard__smile,
.game__dashboard__clicks,
.game__level button {
  font-size: 5rem;
}

.game__dashboard__smile {
  background-color: var(--bg-smile);
  border: 1px solid transparent;
  box-shadow: 0 0 4px black;
  border-radius: 0.1em;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.game__dashboard__smile:hover {
  box-shadow: 0 0 1px black;
}
.game__dashboard__flags,
.game__dashboard__timer,
.game__dashboard__clicks {
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 2px;
  font-family: monospace;
  color: red;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.404);
  border-radius: 0.1em;
  overflow: hidden;
}

.game__dashboard__flags::after,
.game__dashboard__timer::after {
  content: "888";
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}
canvas {
  background-color: black;
}
.game__level {
  background-color: var(--bg-main);
  width: 100%;
  padding: 0 3rem 2rem;
}
.game__level button {
  font-size: 4rem;
  color: var(--button-level-clr);
  border: 1px solid transparent;
  margin-right: 4px;
  cursor: pointer;
  padding: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--button-level-bg);
}
.game__level button:hover,
.game__level button.active {
  color: var(--button-level-hover);
}
.theme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background-color: ivory;
  border: 1px solid green;
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
}
@media screen and (min-width: 40em) {
  .game__dashboard__flags,
  .game__dashboard__timer,
  .game__dashboard__smile,
  .game__dashboard__clicks,
  .game__level button {
    font-size: 3rem;
  }
  .game__level button {
    font-size: 1.8rem;
  }
  .game__level {
    padding: 0 1rem 1rem;
  }
}
@media screen and (min-width: 1138px) {
  .game__dashboard__flags,
  .game__dashboard__timer,
  .game__dashboard__smile,
  .game__dashboard__clicks {
    font-size: 1.8rem;
  }
  .game__level button {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1138px) {
  .game__dashboard__flags,
  .game__dashboard__timer {
    padding: 1rem;
  }
}
